<div class="container">
    <P>A V A I L A B L E</P>
    <h1 style="color: midnightblue;">SEDEN CABS</h1>
    <div class="row d-flex justify-content-center text-center ">
        <div class="col-md-3 col-sm-6 mb-4 mt-4  p-4" >
            <img src="assets/carimages/mahindra.jpg" class="img-fluid" alt="">
            <h5>TOYOTA ETIOS</h5>
            <button type="button" class="btn btn-primary">Book Now</button>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 mt-4">
            <img src="assets/carimages/kshiwsj.jpg" class="img-fluid" alt="">
            <h5>RENAULT LODGY</h5>
            <button type="button" class="btn btn-primary">Book Now</button>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 mt-4">
            <img src="assets/carimages/nissan-sunny-.jpg" class="img-fluid" alt="">
            <h5>NISSAN SUNNY</h5>
            <button type="button" class="btn btn-primary">Book Now</button>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 mt-4 ">
            <img src="assets/carimages/Dzire.png" class="img-fluid" alt="">
            <h5>SWIFT DZIRE TOUR</h5>
            <button type="button" class="btn btn-primary">Book Now</button>
        </div>
    </div>
</div>

<div class="container">
    <P>A V A I L A B L E</P>
    <h1 style="color: midnightblue;">SUV CABS</h1>
    <div class="row d-flex justify-content-center text-center">
        <div class="col-md-3 col-sm-6 mb-4 mt-4">
            <img src="assets/carimages/innova.jpg" class="img-fluid" alt="">
            <h5>TOYOTA INNOVA</h5>
            <button type="button" class="btn btn-primary">Book Now</button>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 mt-4">
            <img src="assets/carimages/Maruti.jpg" class="img-fluid" alt="">
            <h5>MARUTI ERTIGA</h5>
            <button type="button" class="btn btn-primary">Book Now</button>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 mt-4">
            <img src="assets/carimages/mahindraxylo.jpg" class="img-fluid" alt="">
            <h5>XYLO & MARAZZO</h5>
            <button type="button" class="btn btn-primary">Book Now</button>
        </div>
        <div class="col-md-3 col-sm-6 mb-4 mt-4">
            <img src="assets/carimages/chevy.jpg" class="img-fluid" alt="">
            <h5>CHEVROLET ENJOY</h5>
            <button type="button" class="btn btn-primary">Book Now</button>
        </div>
    </div>
</div>
